<!DOCTYPE html>
<html lang="en" ng-app="MovieApp" ng-click="model.searchMovie()">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
<script src="app.js"></script>
<script src="config.js"></script>
<script src="details.controller.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Sogeti_Movie_Application</title>
<link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">


  <style type="text/css">
<!--
.style1 {font-family: "Courier New", Courier, monospace}
-->
  </style>
</head>
<body>
 
<div ng-controller="MovieDetailsController as model">

<nav class="navbar navbar-default">
<div class="container">
<div class="navbar-header">
<a class="navbar-brand" href="index.html">Home</a>
<a class="navbar-brand" href="index.html">Search</a>
<a class="navbar-brand" href="index.html">Featured</a>
</div></div>
 


<div class="jumbotron"><marquee behavior="alternate" scrollamount="10">
<h3>::SOGETI MOVIE SEARCH ENGINE APPLICATION::</h3></marquee>
<input type="text"  ng-model="title" class="form-control" placeholder="Spider man">
 
  <div align="right">Plot:

  <select name="plot" style="width: 100px;" class="btn btn-danger dropdown-toggle">
    <option value="short" selected="Short">Short</option>
    <option value="full">Full</option>
  </select>
  <input  type="button"  class="btn btn-primary" value="Search Movies!" ng-click="model.searchMovie(title)">
  <script>
                              
                            </div>
</div>
<table width="0" border="0" class="table table-bordered">
<thead>
  <tr>
    <th>Title</th>
    <th>Year</th>
	<th>imdbID</th>
	<th>Poster</th>
	<th>More Details</th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="movie in model.movies" scope="row">
    <td >{{movie.Title}}</td>
    <td>{{movie.Year}}</td>
	<th>{{movie.imdbID}}</th>
	<td><img ng-src="{{movie.Poster}}" height="100px" width="100px" /></td>
		
	<th><a href="http://www.omdbapi.com/?i={{movie.imdbID}}&apikey=6c3a2d45" target="_blank">More Details</a></th>
  </tr>
</tbody>
</table>

<div class="container">
<div id="movies" class="row">


</div>
</div>
<div ng-view></div>
</body>
</html>
